<div class="container">
        <form>
            <p style="text-align: center; font-size: 30px;">Register Form</p><br><br>
            <div class="left" style="float: left">
                <b>
                    <label>FIRST NAME</label><br><br>
                    <label>LAST NAME</label><br><br>
                    <label>PASSWORD</label><br><br>
                    <label>GENDER</label><br><br>
                    <label>ADDRESS</label><br><br><br>
                    <label>D.O.B</label><br>
                    <br><br><label>SELECT Languages</label><br>
                </b>
            </div>

            <div class="right" style="float: right; padding-right: 30px;">
                <input type="text"><br><br>
                <input type="text"><br><br>
                <input type="password"><br><br>
                <input type="radio" id="gender1" name="gender" value="Female">
                <label for="gender1">Female</label>
                <input type="radio" id="gender2" name="gender" value="Male">
                <label for="gender2">Male</label><br><br>
                <textarea name="address">Enter address here...</textarea><br><br>

                <input type="date" id="birthday" name="birthday"><br><br>

                <input type="checkbox" value="C" id="c"><label for="c">C</label>
                <input type="checkbox" value="Cpp" id="cpp"><label for="cpp">C++</label>
                <input type="checkbox" value="Python" id="python"><label for="python">Python</label>
                <input type="checkbox" value="Java" id="java"><label for="java">Java</label>
                <input type="checkbox" value="Javascript" id="javascript"><label for="javascript">JavaScript</label><br><br>

                <input type="checkbox" id="agree"><label><b>I accept this agreement</b></label><br><br>

                <button type="submit" value="Submit">Submit </button> &nbsp; 
                <button type="reset" value="Reset">Reset</button>     
            </div>
        </form>
    </div>
